<aside id="sidebar">
  <nav class="menus">
  	<ul>
  		<li><a href="/"><i class="icon icon-home"></i></a></li>
  		<% if (theme.menu.Archives){ %>
			<li><a href="/archives"><i class="icon icon-archive"></i></a></li>
  		<% } %>
  		<% if (theme.menu.Tag){ %>
			<li><a href="<%= theme.menu.Tag %>"><i class="icon icon-tag"></i></a></li>
  		<% } %>
  		<li><a href="<%= theme.menu.Github %>"><i class="icon icon-git"></i></a></li>
      <li><a href="<%= theme.menu.About %>"><i class="icon icon-about"></i></a></li>
  	</ul>
  </nav>
  <a id="go-top" href="#"><i class="icon icon-up"></i></a>
</aside>
